---
import Header from "../components/Header.astro";
import Banner from "../components/Banner.astro";
import Partners from "../components/Partners.astro";
import Guidelines from "../components/Guidelines.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
import Featured from "../components/Featured.astro";
import Stats from "../components/Stats.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Besnik</title>
  </head>
  <body>
    <Header />
    <Banner />
    <Partners />
    <Guidelines />
    <Featured />
    <Stats />

    <GlobalStyles />
  </body>
</html>
