<footer class="footer">
  <div class="wrapper">
    <div class="top-container">
      <div class="footer-section">
        <h3 class="footer-section-title">Product</h3>
        <ul class="footer-list">
          <li>
            <a title="Listing" href="/">Listing</a>
          </li>
          <li>
            <a title="Property" href="/">Property</a>
          </li>
          <li>
            <a title="Agents" href="/">Agents</a>
          </li>
          <li>
            <a title="Blog" href="/">Blog</a>
          </li>
        </ul>
      </div>
      <div class="footer-section">
        <h3 class="footer-section-title">Resources</h3>
        <ul class="footer-list">
          <li>
            <a title="Our Homes" href="/">Our Homes</a>
          </li>
          <li>
            <a title="Member Stories" href="/">Member Stories</a>
          </li>
          <li>
            <a title="Video" href="/">Video</a>
          </li>
          <li>
            <a title="Free trial" href="/">Free trial</a>
          </li>
        </ul>
      </div>
      <div class="footer-section">
        <h3 class="footer-section-title">Company</h3>
        <ul class="footer-list">
          <li>
            <a title="Partnerships" href="/">Partnerships</a>
          </li>
          <li>
            <a title="Terms of use" href="/">Terms of use</a>
          </li>
          <li>
            <a title="Privacy" href="/">Privacy</a>
          </li>
          <li>
            <a title="Sitemap" href="/">Sitemap</a>
          </li>
        </ul>
      </div>
      <div class="footer-section social-section">
        <h3 class="footer-section-title">Get in touch</h3>
        <p>You'll find your next home in any style you prefer.</p>
        <ul class="footer-social">
          <li>
            <a title="facebook" href="/">
              <img src="/icons/facebook.svg" alt="facebook icon" />
            </a>
          </li>
          <li>
            <a title="twitter" href="/">
              <img src="/icons/twitter.svg" alt="twitter icon" />
            </a>
          </li>
          <li>
            <a title="linkedin" href="/">
              <img src="/icons/linkedin.svg" alt="linkedin icon" />
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="bottom-container">
      <a title="home" href="/">
        <img class="logo" src="/images/besnik_logo.png" alt="Besnik logo" />
      </a>

      <p class="copyright">Copyright 2020.com, All rights reserved.</p>
    </div>
  </div>
</footer>

<style>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .footer {
    padding: 50px 16px 58px;
  }
  .wrapper {
    max-width: 1100px;
    margin: 0 auto;
  }

  .top-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 81px;
  }

  .footer-section-title {
    color: #1c1c1d;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.03em;
    margin-bottom: 42px;
  }
  .footer-list li {
    margin-bottom: 18px;
  }

  .footer-list li:last-of-type {
    margin-bottom: 0;
  }
  .footer-list a {
    text-decoration: none;
    color: #7a7a7e;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }

  .social-section > p {
    margin-bottom: 40px;

    color: #7a7a7e;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 100%;
    max-width: 257px;
  }

  .footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
  }

  .footer-social a {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    border-radius: 5px;
  }

  .bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .copyright {
    color: #c2c2c2;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
</style>
