<header>
  <div class="wrapper">
    <a href="/" title="Besnik">
      <img class="logo" src="./images/besnik_logo.png" alt="besnik image" />
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <li>
          <a title="home" class="nav-link" href="#">Home</a>
        </li>
        <li>
          <a title="features" class="nav-link" href="#">Features</a>
        </li>
        <li>
          <a title="service" class="nav-link" href="#">Service</a>
        </li>
        <li>
          <a title="listed" class="nav-link" href="#">Listed</a>
        </li>
        <li>
          <a title="contact" class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="button-container">
      <button title="sign up">Sign Up</button>
      <button class="register-btn" title="register">Register</button>
    </div>
  </div>
</header>

<style>
  header {
    padding-top: 38px;
    background-color: #e6f0ff;
  }
  .wrapper {
    display: flex;
    align-items: center;
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .logo {
    width: 107px;
  }

  .nav {
    flex: 1;
  }

  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 64px;
    margin: 0;
  }
  .nav-link {
    text-decoration: none;
    color: #4f5361;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  button {
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: none;
    color: #0f1b4c;
    font-size: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .register-btn {
    border-radius: 8px;
    background: #0f1b4c;
    color: #ffffff;
    height: 40px;
    width: 98px;
    margin-left: 18px;
  }
</style>
