<section>
  <div class="wrapper">
    <div class="top-wrapper">
      <div>
        <img class="logo" src="./images/besnik_logo.png" alt="besnik logo" />
        <p class="phrase">More than 45,000+ companies trust besnik</p>
      </div>
      <div>
        <div class="stars-container">stars</div>
        <p class="phrase">5 Star Ratings (2k+ Review)</p>
      </div>
    </div>

    <div class="partners-container">
      <img src="./images/me_undies.png" alt="" />
      <img src="./images/slack.png" alt="" />
      <img src="./images/amazon.png" alt="" />
      <img src="./images/woo_commerce.png" alt="" />
      <img src="./images/sitepoint.png" alt="" />
    </div>
  </div>
</section>

<style>
  section {
    padding: 122px 16px 81px;
  }
  .wrapper {
    max-width: 1100px;
    margin: 0 auto;
  }
  .top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: block;
    margin-bottom: 23px;
  }
  .stars-container {
    margin-bottom: 14px;
  }
  .phrase {
    color: #7d8589;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  .partners-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 82px;
    margin-top: 70px;
  }
</style>
