<section>
  <div class="wrapper">
    <div class="top-container">
      <div class="image-container">
        <img
          class="stats-card-image"
          src="/images/card.png"
          alt="stats-card-image"
        />
        <img
          class="house-image"
          src="/images/house_image.png"
          alt="house image"
        />
      </div>
      <div class="text-container">
        <h2 class="title">You’ve found a neighborhood you love.</h2>
        <p class="description">
          When you own a home, you’re committing to living in one location for a
          while. In a recent Trulia survey, we found that five out of six
          respondents said finding the right neighborhood
        </p>
      </div>
    </div>

    <div class="stats">
      <div>
        <span class="stats-number">2,500</span>
        <span class="stats-text">Homes For Sale</span>
      </div>
      <div>
        <span class="stats-number">5,000+</span>
        <span class="stats-text">Homes Recently Sold</span>
      </div>
      <div>
        <span class="stats-number">170+</span>
        <span class="stats-text">Price Reduced</span>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    padding: 125px 16px 101px;
  }
  .wrapper {
    max-width: 1048px;
    margin: 0 auto;
    width: 100%;
  }
  .top-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 165px;
    margin-bottom: 110px;
  }
  .image-container {
    position: relative;
    margin-left: 120px;
    max-width: 400px;
    width: 100%;
  }
  .stats-card-image {
    width: 239px;
    position: absolute;
    translate: -50% 0;
  }
  .house-image {
    object-fit: cover;
    width: 100%;
  }

  .title {
    color: #000339;
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
    max-width: 269px;
    margin-bottom: 20px;
  }
  .description {
    color: #5a6473;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    max-width: 309px;
  }

  .stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 220px;
  }

  .stats-number {
    color: #000;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    display: block;
    text-align: center;
    margin-bottom: 22px;
  }
  .stats-text {
    color: #7b8087;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }

  @media screen and (max-width: 1040px) {
    .top-container {
      gap: 70px;
    }
    .stats {
      gap: 100px;
    }
  }

  @media screen and (max-width: 860px) {
    .top-container {
      flex-direction: column;
    }

    .text-container {
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .title,
    .description {
      width: 100%;
      max-width: unset;
      text-align: center;
    }

    .stats {
      gap: 50px;
    }
  }

  @media screen and (max-width: 580px) {
    .image-container {
      position: relative;
      margin-left: 60px;
      max-width: 200px;
      width: 100%;
    }
    .stats-card-image {
      width: 120px;
      position: absolute;
      translate: -50% 0;
    }
  }
</style>
